body {
  background-color: rgba(80, 103, 105, 0.774);
  height: 100%;
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  column-count: 3;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#header {
  width : 100%;
  height: 200px;
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 300%;
  padding-top: 50px;
  padding-bottom: 100px;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: rgb(213, 28, 28);
}

.brief {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}


#list-header {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
}


#instructions {
  width: 300px;
  height:auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(213, 28, 28);
}


.list {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  text-align: left;
  padding-right: 10px;
  line-height: 40px;
}



label {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: bold;
  
}

#volumeslider {
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
}


.drum-pads {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Bangers', cursive;
 }

  .pads {
    width: 120px;
    height: 120px;
    margin: 20px 10px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(208, 201, 201);
    user-select: none;
    border: 5px solid #921d1df7;
  }
  
  .pads:hover {
    border: 5px solid #eb0d0de1;
  }


  .pads:active {
    transform: scale(1.1);
    transition: all .1s;
    box-shadow: 5px 5px #555;
  }

  .active {
    transform: scale(1.1);
    transition: all .1s;
    border: 5px solid #eb0d0de1;
    box-shadow: 5px 5px #555;
  }


  /* Media Queries */

  @media screen and (max-width: 600px) {

    #header {
      width : 100%;
      height: 300px;
      background-color: rgb(0, 0, 0);
    }
    
    h1 {
      font-size: 300%;
      font-family: 'Orbitron', sans-serif;
      text-align: center;
      color: rgb(213, 28, 28);
    }

    .pads {
      width: 80px;
      height: 80px;
      margin: 20px 10px;
      background-color: #555;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: rgb(208, 201, 201);
      user-select: none;
      border: 5px solid #921d1df7;
    }

    .drum-pads {
      width: 350px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-family: 'Bangers', cursive;
    }

  
    .pads:active {
      transform: scale(1.1);
      transition: all .1s;
    }
  
  }