body {
    background-color: rgb(92, 98, 93);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    font-size: 300%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Orbitron', sans-serif;
}

.drum-pads {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Bangers', cursive;
  }

  .pads {
    width: 120px;
    height: 120px;
    margin: 20px 10px;
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(208, 201, 201);
    user-select: none;
    border: 5px solid #a411119e;
  }

  
  .pads:hover {
    border: 5px solid #cb12129e;
  }


  .pads:active {
    transform: scale(1.1);
    transition: all .1s;
  }